In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# importing libraries
import os
import sys
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Twitter/user_combined.csv')
print(df.head())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (2,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

                           _type         username                 userId  \
0  snscrape.modules.twitter.User        Danno2430               40591067
1  snscrape.modules.twitter.User  SharrodSharrod7              479760616
2  snscrape.modules.twitter.User        JPBGerald               23435297
3  snscrape.modules.twitter.User     SydTheJackal  1.21032249306563E+018
4  snscrape.modules.twitter.User           __paix             3215771949

                        displayname  \
0  Kreidbanejad Publicity Tour 2022
1                  Sharrod Williams
2                        JPB Gerald
3        Sydney ‚ÄúTHE JACKAL‚Äù Maccow
4                    Isnery Marrero

                                      rawDescription  \
0                                        ‚ÄúThey'd say
1  üìçNYC | üé¨ EP, Writer, Creator @NeighborsSeries ...
2  He/him.\nBlack/ADHD EdD candidate @ Hunter.\nP...
3  https://t.co/woBagB2QjZ | Boxing Coach | Fitne...
4                                       | ŒßŒ•Œ£ | KA |

                                     descriptionUrls verified  \
0   'no sloppy steaks' but they can't stop you fr...      NaN
1                                                NaN    False
2                                                NaN    False
3  [{'text': 'SydneyMaccow.com', 'url': 'http://S...    False
4                                                NaN    False

                     created             followersCount friendsCount  ...  \
0                      False  2009-05-17T02:28:25+00:00         1813  ...
1  2012-01-31T18:51:31+00:00                        716          344  ...
2  2009-03-09T13:36:17+00:00                       5116         5158  ...
3  2019-12-26T22:12:38+00:00                        101          137  ...
4  2015-04-28T05:45:32+00:00                        347          422  ...

                     label._type label.description label.url label.badgeUrl  \
0  https://twitter.com/Danno2430               NaN       NaN            NaN
1                            NaN               NaN       NaN            NaN
2                            NaN               NaN       NaN            NaN
3                            NaN               NaN       NaN            NaN
4                            NaN               NaN       NaN            NaN

  label.longDescription Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29  \
0                   NaN         NaN         NaN         NaN         NaN
1                   NaN         NaN         NaN         NaN         NaN
2                   NaN         NaN         NaN         NaN         NaN
3                   NaN         NaN         NaN         NaN         NaN
4                   NaN         NaN         NaN         NaN         NaN

  Unnamed: 30
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 31 columns]

In [ ]:
df.dtypes

_type                    object
username                 object
userId                   object
displayname              object
rawDescription           object
descriptionUrls          object
verified                 object
created                  object
followersCount           object
friendsCount             object
statusesCount            object
favouritesCount          object
listedCount              object
mediaCount               object
location                 object
protected                object
linkUrl                  object
profileImageUrl          object
profileBannerUrl         object
label                    object
profileUrl               object
label._type              object
label.description        object
label.url                object
label.badgeUrl           object
label.longDescription    object
Unnamed: 26              object
Unnamed: 27              object
Unnamed: 28              object
Unnamed: 29              object
Unnamed: 30              object
dtype: object

In [ ]:
df.drop(['_type','Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29','Unnamed: 30'], axis=1, inplace=True)

In [ ]:
df.drop(['linkUrl','profileImageUrl','profileBannerUrl','label','profileUrl','label._type'], axis=1, inplace=True)

In [ ]:
df.dtypes

username                 object
userId                   object
displayname              object
rawDescription           object
descriptionUrls          object
verified                 object
created                  object
followersCount           object
friendsCount             object
statusesCount            object
favouritesCount          object
listedCount              object
mediaCount               object
location                 object
protected                object
label.description        object
label.url                object
label.badgeUrl           object
label.longDescription    object
dtype: object

In [ ]:
df.drop(df.columns[5:10], axis = 1, inplace = True)

In [ ]:
df.head()

,username,userId,displayname,rawDescription,descriptionUrls,favouritesCount,listedCount,mediaCount,location,protected,label.description,label.url,label.badgeUrl,label.longDescription
0,Danno2430,40591067,Kreidbanejad Publicity Tour 2022,‚ÄúThey'd say,'no sloppy steaks' but they can't stop you fr...,379224,198809,134,30706,"Brooklyn, NY",NaN,NaN,NaN,NaN
1,SharrodSharrod7,479760616,Sharrod Williams,"üìçNYC | üé¨ EP, Writer, Creator @NeighborsSeries ...",NaN,9492,7,609,"New York, NY",False,NaN,NaN,NaN,NaN
2,JPBGerald,23435297,JPB Gerald,He/him.\nBlack/ADHD EdD candidate @ Hunter.\nP...,NaN,45612,38,1179,NYC/Lenape and Canarsie land,False,NaN,NaN,NaN,NaN
3,SydTheJackal,1.21032249306563E+018,Sydney ‚ÄúTHE JACKAL‚Äù Maccow,https://t.co/woBagB2QjZ | Boxing Coach | Fitne...,"[{'text': 'SydneyMaccow.com', 'url': 'http://S...",1269,0,338,"Brooklyn, NY",False,NaN,NaN,NaN,NaN
4,__paix,3215771949,Isnery Marrero,| ŒßŒ•Œ£ | KA |,NaN,563,0,86,NaN,False,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(242121, 14)

In [ ]:
df.drop_duplicates(subset=['userId'], inplace=True)

In [ ]:
df.shape

(133500, 14)

In [ ]:
df_loc = df.dropna(subset=['location'])

In [ ]:
df_loc.drop(df_loc.columns[9:], axis = 1, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_loc.shape

(112723, 9)

In [ ]:
df_loc.head()

,username,userId,displayname,rawDescription,descriptionUrls,favouritesCount,listedCount,mediaCount,location
0,Danno2430,40591067,Kreidbanejad Publicity Tour 2022,‚ÄúThey'd say,'no sloppy steaks' but they can't stop you fr...,379224,198809,134,30706
1,SharrodSharrod7,479760616,Sharrod Williams,"üìçNYC | üé¨ EP, Writer, Creator @NeighborsSeries ...",NaN,9492,7,609,"New York, NY"
2,JPBGerald,23435297,JPB Gerald,He/him.\nBlack/ADHD EdD candidate @ Hunter.\nP...,NaN,45612,38,1179,NYC/Lenape and Canarsie land
3,SydTheJackal,1.21032249306563E+018,Sydney ‚ÄúTHE JACKAL‚Äù Maccow,https://t.co/woBagB2QjZ | Boxing Coach | Fitne...,"[{'text': 'SydneyMaccow.com', 'url': 'http://S...",1269,0,338,"Brooklyn, NY"
5,SnipedPaulie,1.18237453417289E+018,Hood FavoriteüóΩ,NYC | 25 üá≠üáπüá®üá∫ BO4 Stan Account. Half gangsta H...,NaN,59105,6,7344,"CrownHeights, BK/Westbury, LI"

In [ ]:
df_loc['location'] = df_loc['location'].str.upper()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_loc

,username,userId,displayname,rawDescription,descriptionUrls,favouritesCount,listedCount,mediaCount,location
0,Danno2430,40591067,Kreidbanejad Publicity Tour 2022,‚ÄúThey'd say,'no sloppy steaks' but they can't stop you fr...,379224,198809,134,30706
1,SharrodSharrod7,479760616,Sharrod Williams,"üìçNYC | üé¨ EP, Writer, Creator @NeighborsSeries ...",NaN,9492,7,609,"NEW YORK, NY"
2,JPBGerald,23435297,JPB Gerald,He/him.\nBlack/ADHD EdD candidate @ Hunter.\nP...,NaN,45612,38,1179,NYC/LENAPE AND CANARSIE LAND
3,SydTheJackal,1.21032249306563E+018,Sydney ‚ÄúTHE JACKAL‚Äù Maccow,https://t.co/woBagB2QjZ | Boxing Coach | Fitne...,"[{'text': 'SydneyMaccow.com', 'url': 'http://S...",1269,0,338,"BROOKLYN, NY"
5,SnipedPaulie,1.18237453417289E+018,Hood FavoriteüóΩ,NYC | 25 üá≠üáπüá®üá∫ BO4 Stan Account. Half gangsta H...,NaN,59105,6,7344,"CROWNHEIGHTS, BK/WESTBURY, LI"
...,...,...,...,...,...,...,...,...,...
242112,karenmaywrites,31633527.0,karen bolipata,"writer üëâ ads, sketch, comics, essays, shorts,...",NaN,4068,18,303,QUEENS
242116,rahmathadi_ben,120507505.0,Rahmat Hadi,NaN,NaN,32,1,50,"SIDOARJO, JAWA TIMUR"
242117,ChadMac19,634170042.0,Chad R. MacDonald,I once stopped a crime while wearing a superhe...,NaN,11154,71,1611,NEW YORK CITY
242119,camcrewstudios,1374392682882109952.0,camcrewstudios,Photographer | Content Creator \nbased out of ...,"[{'text': 'instagram.com/camcrewstudios', 'url...",35,0,7,"NEW YORK, NY"
242120,Marco_Angelo15,416349230.0,Marco Angelo,WORK IN PROGRESS! üóΩüíâü©∫ü©πüíä,NaN,28,4,187,"NEW YORK, USA"

In [ ]:
contain_location = df_loc[df_loc['location'].str.contains('NY|NEW YORK|MANHATTAN|BROOKLYN|QUEENS|BRONX|STATEN ISLAND')]

In [ ]:
contain_location.head()

,username,userId,displayname,rawDescription,descriptionUrls,favouritesCount,listedCount,mediaCount,location
1,SharrodSharrod7,479760616,Sharrod Williams,"üìçNYC | üé¨ EP, Writer, Creator @NeighborsSeries ...",NaN,9492,7,609,"NEW YORK, NY"
2,JPBGerald,23435297,JPB Gerald,He/him.\nBlack/ADHD EdD candidate @ Hunter.\nP...,NaN,45612,38,1179,NYC/LENAPE AND CANARSIE LAND
3,SydTheJackal,1.21032249306563E+018,Sydney ‚ÄúTHE JACKAL‚Äù Maccow,https://t.co/woBagB2QjZ | Boxing Coach | Fitne...,"[{'text': 'SydneyMaccow.com', 'url': 'http://S...",1269,0,338,"BROOKLYN, NY"
6,511NY,50706690,511 New York,Traffic & transit updates for all of New York ...,NaN,0,248,0,NEW YORK STATE
7,azu_musa,465220100,Azu Olvera,m√∫sica ‚Ä¢Head of Latin Talent & Industry Relati...,NaN,1802,10,390,"BROOKLYN, NY"

In [ ]:
contain_location.shape

(63055, 9)

In [ ]:
user_loc_file = "UsersNY.csv"

In [ ]:
from google.colab import files

In [ ]:
contain_location.to_csv(user_loc_file, index=None)
files.download(user_loc_file)

In [ ]:
#import pandas as pd
#import numpy as np
#df1 = pd.DataFrame({'A': 'foo bar foo bar foo bar foo foo'.split(),
#                   'B': 'one one two three two two one three'.split(),
#                   'C': np.arange(8), 'D': np.arange(8) * 2})
#print(df1)

     A      B  C   D
0  foo    one  0   0
1  bar    one  1   2
2  foo    two  2   4
3  bar  three  3   6
4  foo    two  4   8
5  bar    two  5  10
6  foo    one  6  12
7  foo  three  7  14

In [ ]:
#df2 = pd.DataFrame({'A': 'foo bar'.split(),
#                   'B': 'one two'.split()
#                   })
#print(df2)

     A    B
0  foo  one
1  bar  two

In [ ]:
#df = df1.merge(df2, on=['B'])
#print(df)

   A_x    B  C   D  A_y
0  foo  one  0   0  foo
1  bar  one  1   2  foo
2  foo  one  6  12  foo
3  foo  two  2   4  bar
4  foo  two  4   8  bar
5  bar  two  5  10  bar

In [ ]:
#df_new = df1.loc[df1['B'].isin(df2['B'])]
#df_new

     A    B  C   D
0  foo  one  0   0
1  bar  one  1   2
2  foo  two  2   4
4  foo  two  4   8
5  bar  two  5  10
6  foo  one  6  12

In [ ]:
#final_locat = {'NY', 'NEW YORK', 'BROOKLYN', 'MANHATTAN', 'BRONX','QUEENS','STATEN ISLAND'}

In [ ]:
#df_floc = df_loc.loc[df_loc['location'].isin(final_locat)]

In [ ]:
#df_floc.head()

,username,userId,displayname,rawDescription,descriptionUrls,favouritesCount,listedCount,mediaCount,location
33,badgaIsabs,539407414,sadgalsabs*,unfriendly blasian hottie,NaN,55743,2,1176,MANHATTAN
45,audreyvnoble,182047998,Audrey Noble,üë©üèª‚Äçüíª Beauty writer @bustle. Freelance @wwd @al...,NaN,46456,8,181,NEW YORK
75,LoveTheLudwigs,16387116,"Love, the Ludwigs",Our family of 4 + 2 dogs lives in Rockland Cou...,NaN,2055,37,329,NEW YORK
84,GENN4DY,21447873,Gennady Kolker,"Director, Programming @BleacherReport. Former ...",NaN,1845,106,454,BROOKLYN
95,EtherealNY,63597186,Zee Oz NYC,https://t.co/bwvILsVZNw\n\nhttps://t.co/z8qDQm...,"[{'text': 'instagram.com/euphoriaxnyc', 'url':...",1826,14,386,NEW YORK

In [ ]:
#df_floc.shape

(4876, 9)